/node_modules/
/components/
/public/css
/public/js
/public/fonts
/public/vendor
/public_html
/public_html/js/
/public_html/css/
/public_html/vendor/
/public_html/mix-manifest.json
/public_html/page-cache
/public_html/docs/
/public_html/css/
/public_html/js/
/public_html/vendor/
/public_html/mix-manifest.json
/public_html/page-cache
/storage/*.key
/log/
/vendor/
/stuff/
/.idea/
/.env
/.env.dusk
/.env.dev
/.env.testing
/.env.schoki.prod
/.env.schoki.staging
/.env.schoki.dusk.prod
/.env.schoki.dusk.staging
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/composer.phar
yarn.lock
package-lock.json
phpunit.dusk.xml
/.htaccess
/.editorconfig
/.jshintrc
/.phpstorm.meta.php
/.phpunit.result.cache
/_ide_helper.php
/perms
/.valet-env.php
/public_html/fonts/
/Envoy.blade.php
/clearme
/perms
/public/mix-manifest.json
/public/demo/
