/node_modules/
/components/
/public_html/docs/
/public_html/css/
/public_html/js/
/public_html/vendor/
/public_html/mix-manifest.json
/storage/*.key
/vendor/
/stuff/
/.idea/
.env
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
yarn.lock
package-lock.json
phpunit.dusk.xml
/.htaccess
/.editorconfig
/.jshintrc
/.phpstorm.meta.php
/.phpunit.result.cache
/webpack.mix.js
/_ide_helper.php
/perms
